body{
    background-color: blanchedalmond;
    font-family: 'Lato', sans-serif;
}

h1,h3,h2{
    font-family: 'Chicle', cursive;
}

#nav{
    list-style-type: none;
    margin: -8px;
    padding: 0;
    overflow: hidden;
    background-color: lightgray;
}

#nav li{
    float: left;
}

#nav li a{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}

#nav li a:hover{
    background-color: White;
}

#content{
    border: solid gray 0px;
    width: 68%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    text-align: center;
    padding-bottom: 16px;
    box-shadow: 0px 0px 10px 1px lightgray;
    background-color: rgb(255,255,255,0.8);
}

table{
    margin: auto;
}
#content ul, #content ol {
    width: 25%;
    margin: auto;
}